* {
  margin: 0px;
  font-family: 'Lora', serif;
  box-sizing: border-box;
}

.fadee {
  animation: fadeInAnimation ease 1.5s;
}

@keyframes fadeInAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.menuu {
  background-color: #b29259;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
}

.menuu a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #150000;
  font-size: 20px;
}

.menuu a:hover {
  background-color: #cab9a7;
}

.menuu a.active {
  font-weight: bold;
  color: #a6342a;
}

.titlee {
  text-align: center;
  color: #150000;
  font-size: 75px;
}

.recipee {
  font-size: 40px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.imagee {
  border: 5px solid #7d6d4b;
  width: 300px;
}

.flexx {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 15px;
}
